In [1]:
import numpy as np
import pandas as pd

In [3]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [4]:
df= pd.read_csv('Titanic Train.csv')

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['Survived']),df['Survived'],
                                                 test_size=0.2)

In [8]:
X_train

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
100,101,3,"Petranec, Miss. Matilda",female,28.00,0,0,349245,7.8958,NaN,S
650,651,3,"Mitkoff, Mr. Mito",male,NaN,0,0,349221,7.8958,NaN,S
831,832,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S
684,685,2,"Brown, Mr. Thomas William Solomon",male,60.00,1,1,29750,39.0000,NaN,S
655,656,2,"Hickman, Mr. Leonard Mark",male,24.00,2,0,S.O.C. 14879,73.5000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
23,24,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S
180,181,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,NaN,S
603,604,3,"Torber, Mr. Ernst William",male,44.00,0,0,364511,8.0500,NaN,S
368,369,3,"Jermyn, Miss. Annie",female,NaN,0,0,14313,7.7500,NaN,Q
871,872,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.00,1,1,11751,52.5542,D35,S

# without use of CT

In [10]:
#adding simple imputer to embarked column
si = SimpleImputer()
X_train_Embarked = si.fit_transform(X_train[['Embarked']])

#also the test data
X_test_Embarked = si.fit_transform(X_test[['Embarked']])

X_train_Embarked

ValueError: Cannot use mean strategy with non-numeric data:
could not convert string to float: 'S'

In [11]:
si = SimpleImputer()
X_train_Age = si.fit_transform(X_train[['Age']])

#also the test data
X_test_Age = si.fit_transform(X_test[['Age']])

X_train_Age

array([[28.        ],
       [29.78127367],
       [ 0.83      ],
       [60.        ],
       [24.        ],
       [29.        ],
       [28.        ],
       [ 3.        ],
       [26.        ],
       [54.        ],
       [ 5.        ],
       [32.        ],
       [29.78127367],
       [29.78127367],
       [24.        ],
       [ 8.        ],
       [ 6.        ],
       [52.        ],
       [19.        ],
       [18.        ],
       [19.        ],
       [30.        ],
       [40.        ],
       [52.        ],
       [24.        ],
       [41.        ],
       [36.        ],
       [29.        ],
       [20.        ],
       [17.        ],
       [25.        ],
       [29.78127367],
       [16.        ],
       [23.        ],
       [25.        ],
       [29.        ],
       [22.        ],
       [27.        ],
       [42.        ],
       [22.        ],
       [27.        ],
       [23.        ],
       [29.78127367],
       [19.        ],
       [19.        ],
       [32.        ],
       [30.        ],
       [25.        ],
       [58.        ],
       [29.78127367],
       [30.        ],
       [29.78127367],
       [24.        ],
       [22.        ],
       [35.        ],
       [40.        ],
       [54.        ],
       [29.78127367],
       [24.        ],
       [32.        ],
       [45.        ],
       [11.        ],
       [12.        ],
       [48.        ],
       [16.        ],
       [21.        ],
       [80.        ],
       [22.        ],
       [ 9.        ],
       [29.        ],
       [56.        ],
       [22.        ],
       [52.        ],
       [29.78127367],
       [24.        ],
       [35.        ],
       [25.        ],
       [40.        ],
       [38.        ],
       [30.        ],
       [29.78127367],
       [25.        ],
       [18.        ],
       [45.        ],
       [ 9.        ],
       [37.        ],
       [34.        ],
       [29.        ],
       [21.        ],
       [45.        ],
       [47.        ],
       [24.        ],
       [22.        ],
       [48.        ],
       [18.        ],
       [19.        ],
       [43.        ],
       [29.78127367],
       [26.        ],
       [29.78127367],
       [19.        ],
       [29.78127367],
       [18.        ],
       [36.        ],
       [ 5.        ],
       [29.78127367],
       [29.78127367],
       [22.        ],
       [29.78127367],
       [29.78127367],
       [30.        ],
       [29.78127367],
       [43.        ],
       [29.78127367],
       [58.        ],
       [46.        ],
       [29.        ],
       [19.        ],
       [32.        ],
       [29.78127367],
       [28.        ],
       [37.        ],
       [32.        ],
       [54.        ],
       [10.        ],
       [29.78127367],
       [38.        ],
       [27.        ],
       [20.        ],
       [42.        ],
       [26.        ],
       [17.        ],
       [33.        ],
       [42.        ],
       [29.78127367],
       [22.        ],
       [29.78127367],
       [34.        ],
       [25.        ],
       [32.        ],
       [11.        ],
       [29.78127367],
       [24.        ],
       [29.78127367],
       [29.        ],
       [18.        ],
       [29.78127367],
       [36.        ],
       [62.        ],
       [18.        ],
       [27.        ],
       [34.        ],
       [33.        ],
       [ 8.        ],
       [22.        ],
       [29.78127367],
       [29.78127367],
       [19.        ],
       [29.78127367],
       [54.        ],
       [36.        ],
       [25.        ],
       [31.        ],
       [29.78127367],
       [22.        ],
       [14.        ],
       [39.        ],
       [50.        ],
       [29.        ],
       [48.        ],
       [29.        ],
       [51.        ],
       [30.        ],
       [19.        ],
       [22.        ],
       [19.        ],
       [29.        ],
       [ 3.        ],
       [28.        ],
       [26.        ],
       [26.        ],
       [29.78127367],
       [29.78127367],
       [35.        ],
       [45.5       ],
       [ 4.        ],
       [29.78127367],
       [39.        ],
       [ 7.        ],
       [39.        ],
       [23.        ],
       [31.        ],
       [47.        ],
       [42.        ],
       [29.78127367],
       [ 4.        ],
       [22.        ],
       [22.        ],
       [21.        ],
       [20.        ],
       [31.        ],
       [39.        ],
       [29.78127367],
       [55.        ],
       [36.        ],
       [14.        ],
       [21.        ],
       [29.78127367],
       [21.        ],
       [40.        ],
       [29.78127367],
       [29.78127367],
       [16.        ],
       [61.        ],
       [24.        ],
       [ 0.83      ],
       [29.78127367],
       [17.        ],
       [29.78127367],
       [15.        ],
       [45.        ],
       [42.        ],
       [23.        ],
       [21.        ],
       [ 0.42      ],
       [33.        ],
       [29.78127367],
       [29.78127367],
       [36.        ],
       [29.78127367],
       [23.        ],
       [ 6.        ],
       [23.        ],
       [39.        ],
       [29.78127367],
       [18.        ],
       [20.        ],
       [29.        ],
       [ 4.        ],
       [29.78127367],
       [47.        ],
       [34.        ],
       [29.78127367],
       [31.        ],
       [30.        ],
       [29.78127367],
       [16.        ],
       [29.78127367],
       [23.        ],
       [22.        ],
       [29.78127367],
       [34.        ],
       [34.        ],
       [29.78127367],
       [20.        ],
       [24.        ],
       [31.        ],
       [53.        ],
       [ 0.67      ],
       [30.        ],
       [33.        ],
       [ 7.        ],
       [ 3.        ],
       [25.        ],
       [35.        ],
       [18.        ],
       [40.5       ],
       [29.78127367],
       [19.        ],
       [21.        ],
       [39.        ],
       [32.        ],
       [29.78127367],
       [33.        ],
       [18.        ],
       [28.5       ],
       [31.        ],
       [29.78127367],
       [22.        ],
       [29.78127367],
       [29.78127367],
       [29.78127367],
       [44.        ],
       [34.        ],
       [28.        ],
       [29.78127367],
       [56.        ],
       [21.        ],
       [24.        ],
       [23.        ],
       [42.        ],
       [27.        ],
       [64.        ],
       [24.        ],
       [13.        ],
       [34.        ],
       [65.        ],
       [19.        ],
       [25.        ],
       [39.        ],
       [34.        ],
       [29.78127367],
       [27.        ],
       [42.        ],
       [47.        ],
       [32.        ],
       [ 5.        ],
       [31.        ],
       [29.78127367],
       [63.        ],
       [37.        ],
       [ 2.        ],
       [32.        ],
       [38.        ],
       [17.        ],
       [29.        ],
       [ 6.        ],
       [ 4.        ],
       [14.        ],
       [45.        ],
       [34.        ],
       [52.        ],
       [16.        ],
       [48.        ],
       [49.        ],
       [48.        ],
       [29.78127367],
       [29.78127367],
       [42.        ],
       [56.        ],
       [32.        ],
       [24.        ],
       [35.        ],
       [29.        ],
       [23.        ],
       [29.78127367],
       [28.        ],
       [51.        ],
       [17.        ],
       [22.        ],
       [29.78127367],
       [29.78127367],
       [29.78127367],
       [29.78127367],
       [36.        ],
       [38.        ],
       [45.        ],
       [29.        ],
       [ 8.        ],
       [35.        ],
       [29.78127367],
       [47.        ],
       [39.        ],
       [28.        ],
       [29.78127367],
       [45.        ],
       [31.        ],
       [32.        ],
       [39.        ],
       [29.78127367],
       [27.        ],
       [ 2.        ],
       [40.        ],
       [29.78127367],
       [48.        ],
       [24.        ],
       [35.        ],
       [14.        ],
       [ 2.        ],
       [47.        ],
       [45.        ],
       [40.5       ],
       [29.78127367],
       [26.        ],
       [50.        ],
       [38.        ],
       [29.78127367],
       [45.        ],
       [29.78127367],
       [29.78127367],
       [41.        ],
       [29.78127367],
       [29.78127367],
       [36.        ],
       [31.        ],
       [27.        ],
       [49.        ],
       [29.        ],
       [29.78127367],
       [ 3.        ],
       [18.        ],
       [ 2.        ],
       [17.        ],
       [18.        ],
       [29.78127367],
       [41.        ],
       [29.78127367],
       [33.        ],
       [34.        ],
       [16.        ],
       [21.        ],
       [22.        ],
       [18.        ],
       [29.78127367],
       [19.        ],
       [11.        ],
       [49.        ],
       [28.        ],
       [29.78127367],
       [16.        ],
       [29.78127367],
       [31.        ],
       [49.        ],
       [29.78127367],
       [18.        ],
       [24.        ],
       [26.        ],
       [20.        ],
       [29.78127367],
       [29.78127367],
       [29.78127367],
       [ 4.        ],
       [29.78127367],
       [18.        ],
       [36.        ],
       [33.        ],
       [18.        ],
       [18.        ],
       [54.        ],
       [38.        ],
       [15.        ],
       [20.        ],
       [24.        ],
       [61.        ],
       [58.        ],
       [29.78127367],
       [64.        ],
       [41.        ],
       [71.        ],
       [22.        ],
       [29.78127367],
       [29.        ],
       [24.        ],
       [25.        ],
       [29.78127367],
       [25.        ],
       [29.78127367],
       [17.        ],
       [30.        ],
       [32.        ],
       [50.        ],
       [ 1.        ],
       [28.        ],
       [22.        ],
       [40.        ],
       [30.        ],
       [29.78127367],
       [35.        ],
       [35.        ],
       [23.5       ],
       [23.        ],
       [ 7.        ],
       [17.        ],
       [31.        ],
       [29.78127367],
       [15.        ],
       [30.        ],
       [34.        ],
       [17.        ],
       [19.        ],
       [42.        ],
       [36.        ],
       [27.        ],
       [36.        ],
       [29.78127367],
       [36.        ],
       [55.        ],
       [15.        ],
       [26.        ],
       [35.        ],
       [29.78127367],
       [24.        ],
       [28.        ],
       [29.78127367],
       [48.        ],
       [21.        ],
       [36.        ],
       [28.        ],
       [20.        ],
       [ 9.        ],
       [29.78127367],
       [16.        ],
       [29.78127367],
       [16.        ],
       [11.        ],
       [24.        ],
       [29.78127367],
       [27.        ],
       [19.        ],
       [36.        ],
       [25.        ],
       [54.        ],
       [44.        ],
       [30.        ],
       [62.        ],
       [56.        ],
       [30.        ],
       [54.        ],
       [50.        ],
       [65.        ],
       [28.        ],
       [45.        ],
       [29.78127367],
       [33.        ],
       [44.        ],
       [22.        ],
       [40.        ],
       [17.        ],
       [32.        ],
       [35.        ],
       [39.        ],
       [29.78127367],
       [24.        ],
       [19.        ],
       [43.        ],
       [55.5       ],
       [33.        ],
       [ 2.        ],
       [ 0.92      ],
       [29.78127367],
       [44.        ],
       [58.        ],
       [23.        ],
       [40.        ],
       [29.78127367],
       [27.        ],
       [62.        ],
       [18.        ],
       [40.        ],
       [39.        ],
       [ 1.        ],
       [29.78127367],
       [29.78127367],
       [27.        ],
       [29.78127367],
       [60.        ],
       [29.78127367],
       [27.        ],
       [18.        ],
       [21.        ],
       [50.        ],
       [25.        ],
       [26.        ],
       [32.5       ],
       [40.        ],
       [51.        ],
       [25.        ],
       [ 4.        ],
       [29.78127367],
       [29.78127367],
       [29.78127367],
       [36.        ],
       [ 9.        ],
       [24.        ],
       [20.        ],
       [16.        ],
       [50.        ],
       [ 3.        ],
       [19.        ],
       [23.        ],
       [31.        ],
       [19.        ],
       [17.        ],
       [29.78127367],
       [21.        ],
       [22.        ],
       [39.        ],
       [30.        ],
       [21.        ],
       [51.        ],
       [ 1.        ],
       [30.        ],
       [41.        ],
       [28.        ],
       [16.        ],
       [24.        ],
       [35.        ],
       [36.        ],
       [24.        ],
       [20.        ],
       [29.78127367],
       [38.        ],
       [29.78127367],
       [29.        ],
       [23.        ],
       [38.        ],
       [22.        ],
       [16.        ],
       [ 9.        ],
       [24.        ],
       [29.78127367],
       [42.        ],
       [45.5       ],
       [29.78127367],
       [33.        ],
       [25.        ],
       [33.        ],
       [ 1.        ],
       [30.        ],
       [32.5       ],
       [36.        ],
       [29.        ],
       [43.        ],
       [30.        ],
       [26.        ],
       [28.        ],
       [29.78127367],
       [29.78127367],
       [28.        ],
       [ 8.        ],
       [31.        ],
       [30.        ],
       [29.78127367],
       [30.        ],
       [35.        ],
       [20.        ],
       [60.        ],
       [29.78127367],
       [ 1.        ],
       [51.        ],
       [45.        ],
       [18.        ],
       [34.        ],
       [32.        ],
       [ 2.        ],
       [ 2.        ],
       [62.        ],
       [17.        ],
       [18.        ],
       [29.78127367],
       [49.        ],
       [25.        ],
       [46.        ],
       [36.        ],
       [37.        ],
       [39.        ],
       [47.        ],
       [36.        ],
       [27.        ],
       [29.78127367],
       [47.        ],
       [35.        ],
       [50.        ],
       [46.        ],
       [40.        ],
       [29.78127367],
       [29.78127367],
       [52.        ],
       [38.        ],
       [29.78127367],
       [16.        ],
       [31.        ],
       [29.        ],
       [48.        ],
       [ 2.        ],
       [40.        ],
       [ 4.        ],
       [74.        ],
       [19.        ],
       [24.        ],
       [21.        ],
       [33.        ],
       [29.78127367],
       [21.        ],
       [24.5       ],
       [44.        ],
       [29.78127367],
       [21.        ],
       [70.5       ],
       [33.        ],
       [ 0.75      ],
       [38.        ],
       [19.        ],
       [43.        ],
       [19.        ],
       [28.        ],
       [26.        ],
       [14.5       ],
       [34.        ],
       [29.78127367],
       [37.        ],
       [29.78127367],
       [27.        ],
       [41.        ],
       [51.        ],
       [28.        ],
       [19.        ],
       [35.        ],
       [28.5       ],
       [30.        ],
       [22.        ],
       [25.        ],
       [ 1.        ],
       [29.78127367],
       [32.        ],
       [60.        ],
       [24.        ],
       [28.        ],
       [29.78127367],
       [44.        ],
       [29.78127367],
       [47.        ]])

In [12]:
## all the missing value of age is filled by the mean of the total age

In [13]:
## hence the missing data of categorical column can not be filled

In [21]:
df1= pd.read_csv('EG2 DATA.csv')

In [22]:
df1

    age gender  fever cough city has_covid
0    60      M  123.0  MILD  KOL         N
1    45      M  102.0  MILD  MUM         Y
2    12      M   98.0  MILD  DEL         Y
3    48      F   78.0  HIGH  MUM         Y
4    78      F   79.0  HIGH  DEL         Y
5    79      F   75.0  MILD  KOL         N
6    42      F   74.0  HIGH  KOL         N
7    13      M   75.0  MILD  KOL         N
8    15      F  102.0  MILD  MUM         N
9    45      M  103.0  HIGH  MUM         N
10   64      F    NaN  HIGH  DEL         N
11   54      F    NaN  HIGH  DEL         Y
12   58      M    NaN  MILD  KOL         Y

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df1.drop(columns=['has_covid']),df1['has_covid'],
                                                 test_size=0.2)

In [33]:
X_train

   age gender  fever cough city
3   48      F   78.0  HIGH  MUM
7   13      M   75.0  MILD  KOL
8   15      F  102.0  MILD  MUM
9   45      M  103.0  HIGH  MUM
2   12      M   98.0  MILD  DEL
1   45      M  102.0  MILD  MUM
4   78      F   79.0  HIGH  DEL
6   42      F   74.0  HIGH  KOL
0   60      M  123.0  MILD  KOL
5   79      F   75.0  MILD  KOL

In [27]:
df1['city'].value_counts()

city
KOL    5
MUM    4
DEL    4
Name: count, dtype: int64

In [30]:
df1.isnull().sum()

age          0
gender       0
fever        3
cough        0
city         0
has_covid    0
dtype: int64

In [35]:
si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])

#also the test data
X_test_fever = si.fit_transform(X_test[['fever']])

X_train_fever
X_test_fever

C:\Users\rahul\anaconda3\Lib\site-packages\sklearn\impute\_base.py:555: UserWarning: Skipping features without any observed values: ['fever']. At least one non-missing value is needed for imputation with strategy='mean'.
  warnings.warn(

array([], shape=(3, 0), dtype=float64)

In [34]:
X_test_fever

array([], shape=(3, 0), dtype=float64)

In [38]:
#ordinal encoding in cough column 
oe = OrdinalEncoder(categories=[['MILD','HIGH']])
X_train_cough= oe.fit_transform(X_train[['cough']])

X_test_cough= oe.fit_transform(X_test[['cough']])

X_train_cough.shape

(10, 1)

In [39]:
X_train_cough

array([[1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.]])

In [40]:
# oHE in gender and city column
ohe = OneHotEncoder(drop= 'first',sparse_output= False)
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])

#for test data
X_test_gender_city = ohe.fit_transform(X_train[['gender','city']])

X_train_gender_city

array([[0., 0., 1.],
       [1., 1., 0.],
       [0., 0., 1.],
       [1., 0., 1.],
       [1., 0., 0.],
       [1., 0., 1.],
       [0., 0., 0.],
       [0., 1., 0.],
       [1., 1., 0.],
       [0., 1., 0.]])

In [41]:
X_train_gender_city.shape

(10, 3)

In [42]:
## Extracting age
X_train_age= X_train.drop(columns=['gender','fever','cough','city']).values


X_test_age= X_test.drop(columns=['gender','fever','cough','city']).values

X_train_age.shape

(10, 1)

In [44]:
##now we merge all transform column
X_train_transformed = np.concatenate((X_train_age,X_train_fever,X_train_gender_city,X_train_cough),axis=1)
                        
    
X_test_transformed = np.concatenate((X_test_age,X_test_fever,X_test_gender_city,X_test_cough),axis=1)
                        
    
X_train_transformed

ValueError: all the input array dimensions except for the concatenation axis must match exactly, but along dimension 0, the array at index 0 has size 3 and the array at index 2 has size 10

# with CT

In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [4]:
from sklearn.compose import ColumnTransformer

In [5]:
df1= pd.read_csv('EG2 DATA.csv')

In [6]:
df1

    age gender  fever cough city has_covid
0    60      M  123.0  MILD  KOL         N
1    45      M  102.0  MILD  MUM         Y
2    12      M   98.0  MILD  DEL         Y
3    48      F   78.0  HIGH  MUM         Y
4    78      F   79.0  HIGH  DEL         Y
5    79      F   75.0  MILD  KOL         N
6    42      F   74.0  HIGH  KOL         N
7    13      M   75.0  MILD  KOL         N
8    15      F  102.0  MILD  MUM         N
9    45      M  103.0  HIGH  MUM         N
10   64      F    NaN  HIGH  DEL         N
11   54      F    NaN  HIGH  DEL         Y
12   58      M    NaN  MILD  KOL         Y

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df1.drop(columns=['has_covid']),df1['has_covid'],
                                                 test_size=0.2)

In [14]:
X_train

    age gender  fever cough city
2    12      M   98.0  MILD  DEL
5    79      F   75.0  MILD  KOL
9    45      M  103.0  HIGH  MUM
0    60      M  123.0  MILD  KOL
6    42      F   74.0  HIGH  KOL
3    48      F   78.0  HIGH  MUM
8    15      F  102.0  MILD  MUM
1    45      M  102.0  MILD  MUM
10   64      F    NaN  HIGH  DEL
7    13      M   75.0  MILD  KOL

In [11]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
('tnf2',OrdinalEncoder(categories=[['MILD','HIGH']]),['cough']),
 ('tnf3',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
] ,remainder= 'passthrough')

In [15]:
transformer.fit_transform(X_train)

C:\Users\rahul\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[ 98.        ,   0.        ,   1.        ,   0.        ,
          0.        ,  12.        ],
       [ 75.        ,   0.        ,   0.        ,   1.        ,
          0.        ,  79.        ],
       [103.        ,   1.        ,   1.        ,   0.        ,
          1.        ,  45.        ],
       [123.        ,   0.        ,   1.        ,   1.        ,
          0.        ,  60.        ],
       [ 74.        ,   1.        ,   0.        ,   1.        ,
          0.        ,  42.        ],
       [ 78.        ,   1.        ,   0.        ,   0.        ,
          1.        ,  48.        ],
       [102.        ,   0.        ,   0.        ,   0.        ,
          1.        ,  15.        ],
       [102.        ,   0.        ,   1.        ,   0.        ,
          1.        ,  45.        ],
       [ 92.22222222,   1.        ,   0.        ,   0.        ,
          0.        ,  64.        ],
       [ 75.        ,   0.        ,   1.        ,   1.        ,
          0.        ,  13.        ]])

In [16]:
transformer.fit_transform(X_train).shape

C:\Users\rahul\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(10, 6)

In [17]:
transformer.transform(X_test)

array([[92.22222222,  0.        ,  1.        ,  1.        ,  0.        ,
        58.        ],
       [92.22222222,  1.        ,  0.        ,  0.        ,  0.        ,
        54.        ],
       [79.        ,  1.        ,  0.        ,  0.        ,  0.        ,
        78.        ]])

In [18]:
transformer.transform(X_test).shape

(3, 6)